	<ngb-carousel *ngIf="Papularproducts">
		<ng-template *ngFor="let items of Papularproducts" ngbSlide>
			<div class="picsum-img-wrapper">
        <a routerLink="/details/{{items.id}}">
				<img class="product_hedder_img" src="{{items.image}}" alt="Random first slide" /></a>
			</div>
			<div class="carousel-caption">
				<h3>{{items.name}}</h3>
				<p>{{items.description}}</p>
			</div>
		</ng-template>
		
	</ngb-carousel>
    <div class="product-list-wrapper">
<h1>Trendy Products</h1>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of trendyProducts">
    <div class="product-item">
      <img src="{{item.image}}" alt="">
    <div class="product-details">
      <h6 class="name-head">{{item.name}}</h6>
      <div class="product-price">
        <h6>Price:{{item.price}}</h6>
      </div>
      <div class="product-color">
        <h6>Color:{{item.color}}</h6>
      </div>
    </div>
    <div class="product-footer">
       <a routerLink="/details/{{item.id}}">View Details</a>
      <a routerLink="/details/{{item.id}}">Add to Cart</a>

    </div>
    </div>
  </div>


</div>
</div>

